<h2> Edit User </h2>

<form action="/update_user/<%= @user.id %>">
 <input type="text" name="name" placeholder="caption" value="<%= @user.name %>">
  <input type="text" name="url" placeholder="url" value="<%= @user.url %>">
    <input type="text" name="bio" placeholder="bio" value="<%= @user.bio %>">
  <input type="submit">
</form>