<h2>New User</h2>

<form action="/create_user">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="url" placeholder="url">
   <input type="text" name="bio" placeholder="bio">
  <input type="submit">
</form>